<main
    class="main flex flex-col h-full justify-around p-8 text-gray-900 dark:text-white">

    <div
        class="reel-container flex h-fit w-full justify-evenly items-center border-4 rounded-2xl mb-4 border-black dark:border-[#FF1178] dark:shadow-[0_0_2px_#ff80b7,inset_0_0_2px_#ff80b7,0_0_5px_#ff80b7,0_0_8px_#ff80b7,0_0_16px_#ff80b7]">
        <span
            class="font-medium text-2xl text-gray-900 dark:text-white">
            Points: {{points}}
        </span>
        <span
            class="font-medium text-2xl text-gray-900 dark:text-white">
            Game cost: {{startCost}}
        </span>
    </div>

    <div
        class="flex lg:flex-row flex-col h-full justify-around *:border-4 *:rounded-2xl *:border-black *:dark:border-[#FF1178] *:dark:shadow-[0_0_2px_#ff80b7,inset_0_0_2px_#ff80b7,0_0_5px_#ff80b7,0_0_8px_#ff80b7,0_0_16px_#ff80b7]">
        <div
            class="reel-container flex lg:h-full lg:w-4/5 h-2/5 w-full justify-evenly items-center *:h-5/6 *:w-1/4 bg-[url(assets/images/projects/slot-machine/backgrounds/caribbeanBackground2.webp)] bg-contain">
            <app-reel #reelOne
                (middlePicEvent)="handleReelStoppedEvent($event)"></app-reel>
            <app-reel #reelTwo
                (middlePicEvent)="handleReelStoppedEvent($event)"></app-reel>
            <app-reel #reelThree
                (middlePicEvent)="handleReelStoppedEvent($event)"></app-reel>
        </div>

        <div
            class="flex lg:flex-col flex-row p-8 justify-evenly bg-[url(assets/images/projects/slot-machine/backgrounds/caribbeanBackground1.webp)] bg-cover bg-top *:flex *:w-[128px] *:h-[128px] *:items-center *:justify-center *:cursor-pointer *:rounded-full *:border-4 *:border-black text-black font-extrabold text-2xl">
            <div #startButton (click)="start()"
                class="bg-[url(assets/images/projects/slot-machine/icons/ic_green_button.webp)] bg-cover hover:drop-shadow-2xl active:scale-95">AVANCE</div>
            <div #stopButton (click)="stop()"
                class="bg-[url(assets/images/projects/slot-machine/icons/ic_red_button.webp)] bg-cover hover:drop-shadow-2xl active:scale-95">STOP</div>
        </div>
    </div>
</main>