 <div class="card bg-base-100 shadow-lg">
    <div class="card-body">
        <label for="type" class="font-bold">
            <span id="type">{{ title }}</span>
        </label>

        <div class="divider mt-[-0.25rem] mb-[-0.25rem]"></div>

        <ul class="flex flex-col gap-2">
            <li *ngFor="let skill of skills" class="flex gap-1">
                <img [src]="skill.icon" class="w-6" [alt]="skill.name">
                <span>
                    {{ skill.name }}
                </span> 
            </li>
        </ul>
    </div>
</div>